<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="~{layout::head}">
</head>
<body>
<div class="container">
    <header th:replace="~{layout::header}"></header>
    <!--  Danh cho role User-->
    <section sec:authorize="hasRole('USER') && !hasRole('ADMIN')">
        <div class="row my-5 dashboard-user">
            <div class="col-lg-3 sidebar-user">
                <div th:replace="~{layout::sidebar-user}"></div>
            </div>
            <div class="col-lg-9 ps-5 table-dashboard user-purchased">
                <h3 th:text="${'Xem đơn mua vé xem phim ' + booking.codeBooking}" class="my-4">Xem mua vé xem phim</h3>
                <div class="mb-3 row">
                    <label for="idBooking" class="col-sm-3 col-form-label">ID Đơn Hàng</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control-plaintext" id="idBooking"
                               th:value="${booking.codeBooking}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="movieBooking" class="col-sm-3 col-form-label">Tên phim:</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control-plaintext" id="movieBooking"
                               th:value="${booking.showTime.movie.title}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="categoryMovie" class="col-sm-3 col-form-label">Thể loại phim:</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control-plaintext" id="categoryMovie"
                               th:value="${booking.showTime.movie.category.nameCategory}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="datePurchased" class="col-sm-3 col-form-label">Ngày mua:</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control-plaintext" id="datePurchased"
                               th:value="${booking.datePurchased}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="price" class="col-sm-3 col-form-label">Giá vé xem phim:</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control-plaintext" id="price"
                               th:value="${#numbers.formatDecimal(booking.showTime.price, 0, 'POINT', 0, 'COMMA')} + ' đ'">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="timeStart" class="col-sm-3 col-form-label">Suất chiếu</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control-plaintext" id="timeStart"
                               th:value="${booking.showTime.startTime + ' '+booking.showTime.showDate}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="seats" class="col-sm-3 col-form-label">Ghế bạn đã mua</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-lg-1" th:each="seat:${booking.seatBookings}">
                                <input type="text" readonly class="form-control-plaintext" id="seats" th:value="${seat.seat}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="totalPrice" class="col-sm-3 col-form-label">Tổng tiền thanh toán:</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control-plaintext" id="totalPrice" th:value="${#numbers.formatDecimal(booking.totalPrice, 0, 'POINT', 0, 'COMMA')} + ' đ'">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<footer th:replace="~{layout::footer}"></footer>
</body>
</html>