<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::head}">
</head>
<body>
<div class="container">
    <header th:replace="~{layout::header}"></header>
    <section>
        <div class="row my-5 dashboard-admin">
            <div class="col-lg-3 sidebar-admin">
                <div th:replace="~{layout::sidebar-admin}"></div>
            </div>
            <div class="col-lg-9 ps-5 table-dashboard category">
                <h3 th:text="${'Chỉnh sửa thông tin khách hàng : ' + customerDto.fullName }">Chỉnh sửa danh mục phim</h3>
                <form class="edit-item my-4" th:object="${customerDto}" method="post" action="/dashboard/customer/edit">
                    <div class="row mb-3">
                        <label for="inputNameCategory" class="col-sm-2 col-form-label">Chỉnh sửa tên khách hàng</label>
                        <input th:field="*{id}" style="display: none">
                        <input th:field="*{account.id}" style="display: none">
                        <div class="col-sm-10">
                            <input th:field="*{fullName}" type="text" class="form-control" id="inputNameCategory">
                            <span  th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" style="color: red"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Chỉnh sửa địa chỉ khách hàng</label>
                        <div class="col-sm-10">
                            <div>
                                <select style="width: 300px ; height: 35px ; border-radius: 30px ; background: unset;color: #848484;border: 2px solid #686868;" th:field="*{address}">
                                    <option value="Hà Giang">Hà Giang</option>
                                    <option value="Cao Bằng">Cao Bằng</option>
                                    <option value="Lào Cai">Lào Cai</option>
                                    <option value="Sơn La">Sơn La</option>
                                    <option value="Lai Châu">Lai Châu</option>
                                    <option value="Bắc Kạn">Bắc Kạn</option>
                                    <option value="Lạng Sơn">Lạng Sơn</option>
                                    <option value="Tuyên Quang">Tuyên Quang</option>
                                    <option value="Yên Bái">Yên Bái</option>
                                    <option value="Thái Nguyên">Thái Nguyên</option>
                                    <option value="Điện Biên">Điện Biên</option>
                                    <option value="Phú Thọ">Phú Thọ</option>
                                    <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                                    <option value="Bắc Giang">Bắc Giang</option>
                                    <option value="Bắc Ninh">Bắc Ninh</option>
                                    <option value="Hà Nội">Hà Nội</option>
                                    <option value="Quảng Ninh">Quảng Ninh</option>
                                    <option value="Hải Dương">Hải Dương</option>
                                    <option value="Hải Phòng">Hải Phòng</option>
                                    <option value="Hòa Bình">Hòa Bình</option>
                                    <option value="Hưng Yên">Hưng Yên</option>
                                    <option value="Hà Nam">Hà Nam</option>
                                    <option value="Thái Bình">Thái Bình</option>
                                    <option value="Nam Định">Nam Định</option>
                                    <option value="Ninh Bình">Ninh Bình</option>
                                    <option value="Thanh Hóa">Thanh Hóa</option>
                                    <option value="Nghệ An">Nghệ An</option>
                                    <option value="Hà Tĩnh">Hà Tĩnh</option>
                                    <option value="Quảng Bình">Quảng Bình</option>
                                    <option value="Quảng Trị">Quảng Trị</option>
                                    <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                                    <option value="Đà Nẵng">Đà Nẵng</option>
                                    <option value="Quảng Nam">Quảng Nam</option>
                                    <option value="Quảng Ngãi">Quảng Ngãi</option>
                                    <option value="Kon Tum">Kon Tum</option>
                                    <option value="Gia Lai">Gia Lai</option>
                                    <option value="Bình Định">Bình Định</option>
                                    <option value="Phú Yên">Phú Yên</option>
                                    <option value="Đắk Lắk">Đắk Lắk</option>
                                    <option value="Khánh Hòa">Khánh Hòa</option>
                                    <option value="Đắk Nông">Đắk Nông</option>
                                    <option value="Lâm Đồng">Lâm Đồng</option>
                                    <option value="Ninh Thuận">Ninh Thuận</option>
                                    <option value="Bình Phước">Bình Phước</option>
                                    <option value="Tây Ninh">Tây Ninh</option>
                                    <option value="Bình Dương">Bình Dương</option>
                                    <option value="Đồng Nai">Đồng Nai</option>
                                    <option value="Bình Thuận">Bình Thuận</option>
                                    <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                                    <option value="Long An">Long An</option>
                                    <option value="Bà Rịa – Vũng Tàu">Bà Rịa – Vũng Tàu</option>
                                    <option value="Đồng Tháp">Đồng Tháp</option>
                                    <option value="An Giang">An Giang</option>
                                    <option value="Tiền Giang">Tiền Giang</option>
                                    <option value="Vĩnh Long">Vĩnh Long</option>
                                    <option value="Bến Tre">Bến Tre</option>
                                    <option value="Cần Thơ">Cần Thơ</option>
                                    <option value="Kiên Giang">Kiên Giang</option>
                                    <option value="Trà Vinh">Trà Vinh</option>
                                    <option value="Hậu Giang">Hậu Giang</option>
                                    <option value="Sóc Trăng">Sóc Trăng</option>
                                    <option value="Bạc Liêu">Bạc Liêu</option>
                                    <option value="Cà Mau">Cà Mau</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Chỉnh sửa email khách hàng</label>
                        <div class="col-sm-10">
                            <div>
                                <input th:field="*{email}" type="text" class="form-control" id="inputEmailCustomer">
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
                                <p style="color: red" th:text="${messageEmail}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Chỉnh sửa ngày tháng năm sinh khách hàng</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="dateOrder" th:field="*{birthday}">
                            <span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" style="color: red"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Chỉnh sửa số điện thoại khách hàng</label>
                        <div class="col-sm-10">
                            <div>
                                <input th:field="*{phoneNumber}" type="text" class="form-control" id="inputPhoneNumberCustomer">
                                <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red"></span>
                                <p style="color: red" th:text="${messagePhoneNumber}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Chỉnh sửa sổ thẻ CCCD/CMND khách hàng</label>
                        <div class="col-sm-10">
                            <div>
                                <input th:field="*{idCard}" type="text" class="form-control" id="inputIdcardCustomer" >
                                <span th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}" style="color: red"></span>
                                <p style="color: red" th:text="${messageIdCard}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-12">
                        <div class="col-sm-6 d-flex justify-content-center" >
                            <button type="button" class="btn btn-primary" style="background: #E20442 ;width: 242px">
                                <a th:href="@{/dashboard/customer}" style="text-decoration: none ; color: white ">Thoát</a>
                            </button>
                        </div>
                        <div class="col-sm-6 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary" style="background: #E20442 ;width: 242px">Chỉnh sửa thông tin</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<footer th:replace="~{layout::footer}"></footer>
<script type="module" src="/js/configulation.js"></script>
<script type="module" src="/js/upload.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
</body>
</html>